html {
  background: floralwhite;
}

body {
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  padding: 50px;
}

.frame {
  width: 50vmin;
  height: 50vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 50px;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
